# [Automatically managed by the Looker extension]
.looker_skills_manifest.json
lookml-diagnostics/
lookml-liquid-guidelines/
lookml-modeling-guidelines/
lookml-pdt-guidelines/
lookml-pop-guidelines/
# [/Automatically managed by the Looker extension]
