[MASTER]
ignore=CVS
ignore-paths=^c:\\Users\\sierr\\AppData.*$
[MESSAGES CONTROL]
disable=import-error,
        missing-module-docstring,
        invalid-name,
        line-too-long,
        ...
[MASTER]
ignore=CVS

[MESSAGES CONTROL]
disable=import-error,
        missing-module-docstring,
        line-too-long,
        missing-class-docstring,
        missing-function-docstring,
        trailing-newlines,
        unused-import,
        consider-using-f-string
